@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
}

header {
    text-align: center;
}

p.text-right {
    margin-bottom: 0;
}

@media (min-width: 320px) {

    .h1,
    h1 {
	font-size: 2em;
    }

    .h2,
    h2 {
	font-size: 1.5em;
    }

    .h3,
    h3 {
	font-size: 1.1em;
    }

    header {
	h1 {
	    margin-top: .5rem;
	}
    }

    footer {
	p {
	    font-size: .9em;
	    text-align: center;
	}
	margin-bottom: .5em;
	ul {
	    list-style: none;
	    text-align: center;
	    li {
		display: inline-block;
	    }
	    li:nth-child(even) {
		margin: 0 25px;
	    }
	}
    }
}
